.navbar {
  margin: 100px; }
  .navbar ul li {
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: inline-block; }
    .navbar ul li a {
      font: 30px; }

.Login-form {
  --color:#7f8c8d; }
  .Login-form form {
    position: relative; }
    .Login-form form .icon-login {
      position: absolute;
      content: " ";
      top: -50px;
      left: 40%;
      border-radius: 50%;
      background-color: #52cffe;
      color: white; }
      .Login-form form .icon-login i {
        font-size: 100px;
        padding: 10px; }
    .Login-form form .icon-exit {
      position: absolute;
      content: " ";
      top: 10px;
      right: 10px; }
    .Login-form form h2 {
      margin: 50px 0 20px 0;
      font-size: 25px;
      color: #7f8c8d; }
    .Login-form form button {
      background-color: #52cffe;
      margin-bottom: 30px !important; }
    .Login-form form .footer {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0; }
      .Login-form form .footer p {
        color: var(--color);
        background: #ecf0f1;
        width: 500px;
        left: 0;
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }

.Register-form {
  text-align: center;
  --color: white;
  background-image: linear-gradient(to right bottom, #e73321, #f73a7b, #e069c4, #ae94f0, #7fb3fa, #58c5fd, #44d4f6, #58e1e6, #4fedd3, #72f7b2, #a5fc89, #e0fb5f); }
  .Register-form .gender {
    text-align: left; }
  .Register-form h2 {
    padding-bottom: 20px;
    color: var(--color); }
  .Register-form form {
    background: rgba(0, 0, 0, 0.2) !important; }
    .Register-form form .btn {
      display: flex;
      justify-content: space-around; }
    .Register-form form button {
      padding: 10px 20px !important;
      font-size: 15px !important;
      border: none; }
    .Register-form form .inPut {
      position: relative; }
      .Register-form form .inPut input {
        width: 100%; }
      .Register-form form .inPut i {
        position: absolute;
        content: '';
        right: 10px;
        top: 20px;
        color: white; }
    .Register-form form :first-child button {
      background: #27ae60; }
    .Register-form form :nth-child(2) button {
      background: red; }
    .Register-form form .re {
      background: #27ae60; }
      .Register-form form .re button {
        padding: 10px 20px !important;
        font-size: 15px !important;
        border: none; }

form.Register-form.min {
  height: 350px !important; }

.form {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: var(--color); }
  .form form {
    margin-top: 100px;
    width: 500px;
    height: 500px;
    padding: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px; }
    .form form button {
      color: white;
      padding: 14px 0;
      font-size: 24px;
      margin-bottom: 14px;
      letter-spacing: 3px; }
    .form form input {
      padding: 15px 14px;
      font-size: 18px;
      border: 1px solid var(--color);
      border-radius: 5px;
      margin-bottom: 20px; }
      .form form input::-webkit-input-placeholder {
        color: var(--color);
        font-size: 15px; }
    .form form.Register-form .gender {
      text-align: left;
      font-size: 17px; }
      .form form.Register-form .gender input {
        position: relative; }
        .form form.Register-form .gender input:after {
          content: " ";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: var(--color);
          border-radius: 50%; }
        .form form.Register-form .gender input:before {
          content: " ";
          display: none;
          position: absolute;
          left: 50%;
          top: 50%;
          height: 50%;
          width: 50%;
          background: white;
          border-radius: 50%;
          z-index: 10;
          transform: translate(-50%, -50%); }
        .form form.Register-form .gender input:checked:before {
          display: block;
          animation: toBottom 0.4s forwards; }

@keyframes toBottom {
  from {
    transform: translate(-50%, -50%) translateY(-10px); }
  to {
    transform: translate(-50%, -50%) translateY(0px); } }
