<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        title Template
    body
        .form.Login-form
            form
                .icon-login
                    <i class="material-icons">person</i>
                .icon-exit
                    <i class="fa fa-times"></i>
                h2 Member Login
                input(type="text", placeholder="username")
                input(type="text",placeholder="password")
                button LOGIN
                .footer 
                    p Forgot Password? 
                    //- a(href="register.html") Creat Acount

    block scripts
        include scripts.pug