//- block test
//-     #test
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//-         .item
//-             a(href=""): img(src="https://picsum.photos/250/200", alt="")
//-             h3 day la hinh
//- block test
//-     .slider
//-         .owl-carousel
//-             img(src="https://picsum.photos/1001/400", alt="")
//-             img(src="https://picsum.photos/1002/400", alt="")
//-             img(src="https://picsum.photos/1003/400", alt="")
//-             img(src="https://picsum.photos/1004/400", alt="")
//-             img(src="https://picsum.photos/1005/400", alt="")
        //- .muiten
        //-     span.next: img(src="https://picsum.photos/50/50", alt="")
        //-     span.prev: img(src="https://picsum.photos/30/30", alt="")
block test
    .container
        header
            .logo
                a(href="")
            .navbar
                ul
                    li: a(href="elements/register.html") Register
                    li: a(href="elements/login.html") Login
